<% if @game.asin != "Error" %>
  <h2 class="amazon">Amazon</h2>

  <% savings = calc_savings(@game.list_price, @game.lowest_price) %>

  <% if @game.list_price > @game.lowest_price %>
    <div>List Price: <%= @game.list_price %></div>
  <% end %>

  <div>Lowest New Price: <strong class="amzn-price"><%= @game.lowest_price %></strong></div>

  <% if @game.list_price > @game.lowest_price %>
    <div>Savings: <%= savings %></div>
  <% end %>

  <%= link_to "Buy from Amazon", @game.page_url, class: "btn btn-primary amzn-btn" %> 
  <%= link_to "Add To Amazon Wishlist", @game.wishlist_url, class: "btn btn-primary wishlist-btn" %> 

  <h3>Similar</h3>
  <% @game.similar_products.each do |name, url| %>
    <div><%= link_to name, url %></div>
  <% end %>
<% end %>

<section>
  <%= render 'games/users/wishers' %>
</section>

<div class="clearfix"></div>

<section>
  <%= render 'games/users/owners' %>
</section>
