<h2 class="amazon">Amazon</h2>

<% if @game.asin == "Error" %>
  <p>There was a problem retrieving this item from Amazon.</p>
<% else %>
  <% savings = calc_savings(@game.list_price, @game.lowest_price) %>

  <div>List Price: <%= @game.list_price %></div>
  <div>Lowest Price: <strong class="amzn-price"><%= @game.lowest_price %></strong></div>

  <% if savings.gsub(/[^\d\.]/, '').to_f > 0 %>
    <div>Savings: <%= savings %></div>
  <% end %>

  <%= link_to "Buy from Amazon", @game.page_url, class: "btn btn-primary amzn-btn" %> 
  <%= link_to "Add To Amazon Wishlist", @game.wishlist_url, class: "btn btn-default amzn-btn" %> 

  <h3>Similar</h3>
  <% @game.similar_products.each do |name, url| %>
    <div><%= link_to name, url %></div>
  <% end %>
<% end %>