<h1 class="game-name"><%= @game.name %></h1>
<%= image_tag(@game.cover.url(:medium), class: "pull-left game-thumbnail") %>
<h4>Release Date: <%= @rlsdate %></h4>
<h4>Platform: <%= @platform %></h4>
<h4>Publisher: <%= @publisher %></h4>
<h4>Metacritic Score: <%= @score %></h4>

<div class="clearfix"></div>

<div>
  <%= render 'users/wishlist_ownership_admin_buttons' %>
</div>

<div class="clearfix"></div>

<section>
  <h3>Description</h3>
  <p><%= @game.description %></p>
</section>

<div class="clearfix"></div>

<section>
  <%= render 'games/users/wishers' %>
</section>

<div class="clearfix"></div>

<section>
  <%= render 'games/users/owners' %>
</section>