<div class="row">
  <div class="col-md-12">
    <h1 class="game-name pull-left"><%= @game.name %></h1>
    <h1 class="pull-right">
      <%= render 'games/actions/wishlist_form' %>
      <%= render 'games/actions/ownership_form' %>
    </h1>
  </div>
</div>

<%= image_tag(@game.cover.url(:medium), class: "pull-left game-thumbnail") %>

<div class="pull-left">
<h4>Platform: <%= @game.platform %></h4>

<!-- Metacritic info -->
<%= "<h4>Release Date: #{@game.rlsdate}</h4>".html_safe if @game.rlsdate %>
<%= "<h4>Developer: #{@game.developer}</h4>".html_safe if @game.developer %>
<%= "<h4>Publisher: #{@game.publisher}</h4>".html_safe if @game.publisher %>
<%= "<h4>Genre: #{@game.genre}</h4>".html_safe if @game.genre %>
<%= "<h4>Metacritic Score: #{@game.score}</h4>".html_safe if @game.score %>
<!-- Metacritic info -->
</div>

<div class="clearfix"></div>

<div class="social-likes">
  <div class="facebook" title="Share link on Facebook">Facebook</div>
  <div class="twitter" title="Share link on Twitter">Twitter</div>
  <div class="plusone" title="Share link on Google+">Google+</div>
</div>

<div>
  <%= render 'users/wishlist_ownership_admin_buttons' %>
</div>

<div class="clearfix"></div>

<section>
  <h3>Description</h3>
  <blockquote>
    <p><%= @game.description %></p>
    <footer>Metacritic</footer>
  </blockquote>
</section>

<div class="clearfix"></div>

<section>
  <h3>Most Watched YouTube Videos</h3>
  <% get_youtube_videos(@game.name, @game.platform).each do |title, youtube_id| %>
    <div class="video">
      <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{youtube_id}") %>
    </div>
  <% end %>
</section>

<section>
  <%= render 'games/users/wishers' %>
</section>

<div class="clearfix"></div>

<section>
  <%= render 'games/users/owners' %>
</section>