<div class="row">
  <section class="col-md-12">
    <h1 class="game-name pull-left no-left-padding"><%= @game.name %> <small><%= @game.platform %></small></h1>
  </section>
</div>

<div class="row">
  <section class="col-md-8 col-xs-12 pull-left">
    <%= image_tag(@game.cover.url(:medium), class: "pull-left game-thumbnail") %>

    <!-- Metacritic info -->
    <%= "<h4>Release Date: #{@game.rlsdate}</h4>".html_safe if @game.rlsdate %>
    <%= "<h4>Developer: #{@game.developer}</h4>".html_safe if @game.developer %>
    <%= "<h4>Publisher: #{@game.publisher}</h4>".html_safe if @game.publisher %>
    <%= "<h4>Genre: #{@game.genre}</h4>".html_safe if @game.genre %>
    <!-- Metacritic info -->

    <%= render 'games/actions/wishlist_form' %>
      <%= render 'games/actions/ownership_form' %>
  </section>

  <section class="col-md-4 col-xs-12 hidden-sm hidden-xs text-center metacritic-box">
    <h3 class="no-top-margin">Metacritic</h3>
    <input type="text" value="<%= @game.score %>" class="dial" data-width="110" data-fgColor="green" data-readOnly=true>
    <script>
        $(function() {
            $(".dial").knob();
        });
    </script>
  </section>

  <section class="col-xs-12 visible-sm visible-xs text-center metacritic-score">
    <h3>Metacritic</h3>
    <div class="game-score-container">
      <div class="game-score" style="width: <%= @game.score %>%;">
        <small><span class="pull-right"><%= @game.score %></span></small>
      </div>
    </div>
  </section>
</div>

<div class="clearfix"></div>

<div>
  <%= render 'users/wishlist_ownership_admin_buttons' %>
</div>

<div class="clearfix"></div>

<section class="game-description">
  <!-- <h3>Description</h3> -->
  <blockquote>
    <p><%= @game.description %></p>
    <footer>Metacritic</footer>
  </blockquote>
</section>

<div class="clearfix"></div>

<section>
  <h3>Most Watched YouTube Videos</h3>
  <% get_youtube_videos(@game.name, @game.platform).each do |title, youtube_id| %>
    <div class="video">
      <%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{youtube_id}") %>
    </div>
  <% end %>
</section>

<section>
  <%= render 'games/users/wishers' %>
</section>

<div class="clearfix"></div>

<section>
  <%= render 'games/users/owners' %>
</section>
