<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-2">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
    </div>
  <% end %>

  <div class="col-md-8">
    <h3>
      Filter: 
      <%#= link_to "All",  root_url %>
      <%= link_to "2014", '/year/2014' %> | 
      <%= link_to "2013", '/year/2013' %>
    </h3>
    <ul class="games">
      <%= render @games %>
    </ul>
  </div>
</div>
