<% provide(:title, "Great Games from the PC, Xbox, Playstation, Wii and more!") %>

<div class="row">

  <!-- Main Content -->
  <section id="main-content" class="col-md-9">
    <h2>
      <%= "Great Games" %>
    </h2>

    <ul class="games">
      <% @games.each do |game| %>
        <% @game = game %>
        
        <li>
          <article>
            <h3 class="pull-left"><%= link_to game.name, game %> <small><%= "#{game.platform}" %></small></h3>
            <h3 class="pull-right">
              <%= render 'games/actions/wishlist_form' %>
              <%= render 'games/actions/ownership_form' %>
            </h3>
            <div class="clearfix"></div>
            <blockquote>
              <%= image_tag(game.cover.url(:thumb), class: "pull-left game-thumbnail") %>
              <p><%= truncate(game.description, length: 275) %></p>
              <footer>Metacritic</footer>
            </blockquote>
          </article>

          <%= render 'users/wishlist_ownership_admin_buttons' %>

        </li>
      <% end %>
    </ul>

    <div class="text-center">
      <%= will_paginate @games %>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="col-md-3">
      <%= render 'layouts/about' %>
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
