<% provide(:title, "Great Games from the PC, Xbox, Playstation, Wii and more!") %>

<!-- Suggested -->
<!-- <div class="row">
  <section id="suggested" class="col-md-12">
    <div class="section-header"><h2>Suggested Games</h2></div>

    <div class="text-center">
      <% @suggested.each do |game| %>
      <div class="game-space">
        <%= link_to image_tag(game.cover.url(:medium), class: "pull-left"), game %>
        <div class="game-name">
          <%= link_to game.name, game %>
        </div>
        <div class="game-score" style="width: <%= game.score %>%;">
          <small><span class="pull-right"><%= game.score %></span></small>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div> -->


<!-- Top Rated -->
<div class="row">
  <section id="top-rated" class="col-md-12">
    <div class="section-header"><h2>Top Rated Games</h2></div>

    <div class="text-center">
      <% @top_games.each do |game| %>
      <div class="game-space">
        <%= link_to image_tag(game.cover.url(:medium), class: "pull-left"), game %>
        <div class="game-name">
          <%= link_to game.name, game %>
        </div>
        <div class="game-score" style="width: <%= game.score %>%;">
          <small><span class="pull-right"><%= game.score %></span></small>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>

<%= render 'layouts/mid_ad' %>

<!-- More Great Games -->
<div class="row">
  <section id="more-great-games" class="col-md-12">
    <div class="section-header"><h2>More Great Games</h2></div>

    <div class="text-center">
      <% @more_great_games.each do |game| %>
        <div class="game-space">
          <%= link_to image_tag(game.cover.url(:medium), class: "pull-left"), game %>
          <div class="game-name">
            <%= link_to game.name, game %>
          </div>
          <div class="game-score" style="width: <%= game.score %>%;">
            <small><span class="pull-right"><%= game.score %></span></small>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
