<%= link_to "View all games", games_path %>

<div>
  Select year: 
  <%= link_to "All",  root_url %>
  <%= link_to "2013", '/year/2013' %>
  <%= link_to "2014", '/year/2014' %>
</div>

<div class="row">
  <div class="col-md-8">
    <ul class="games">
      <%= render @games %>
    </ul>
  </div>

  <div class="col-md-4">
    <% if user_signed_in? %>
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    <% end %>
  </div>
</div>
