<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-sm-6">
    <h2>Sign up</h2>

    <p>
      You must have an account in order to track and add games. You can sign up with a Great Games Club account or you can use one of the providers listed to the right. Signing in with a provider will create a new account if one hasn't been created already.
    </p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <% if !f.object.password_required? %>
        <% flash[:alert] = "Please enter an email address to complete your registration." %>
      <% end %>

      <%= f.input :email, autofocus: true %>

      <% if f.object.password_required? %>
        <%= f.input :password, autocomplete: "off" %>

        <%= f.input :password_confirmation, autocomplete: "off" %>
      <% end %>

      <%= f.submit "Sign up", class: "btn btn-primary sign-up-btn" %>
    <% end %>
  </div>

  <div class="col-sm-6 gray-vertical-border">
    <%= render "devise/shared/links" %>
  </div>
</div>