<div class="row">
  <div class="col-sm-6 gray-vertical-border">
    <h2>Sign up</h2>

    <p>
      Aenean hendrerit lectus ac ante volutpat aliquet. Pellentesque quis mi sed felis tempor rutrum eget eget eros. Morbi et diam sollicitudin, rhoncus erat vitae, ornare nulla. Fusce vel orci ullamcorper, interdum tellus non, fringilla mauris. Morbi sit amet neque lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tincidunt ac nibh sit amet laoreet. Sed vulputate varius tortor, vitae elementum lacus tincidunt vel.
    </p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.input :email, autofocus: true %>

      <% if f.object.password_required? %>
        <%= f.input :password, autocomplete: "off" %>

        <%= f.input :password_confirmation, autocomplete: "off" %>
      <% end %>

      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <%= render "devise/shared/links" %>
  </div>
</div>