<% provide(:title, "Platforms") %>

<div class="row">

  <!-- Main Content -->
    <section id="main-content" class="col-md-9">
      <h2>
        Select a Platform
      </h2>

      <div><%= link_to "3DS", threeds_platforms_path %></div>
      <div><%= link_to "Gamecube", gamecube_platforms_path %></div>
      <div><%= link_to "PC", pc_platforms_path %></div>
      <div><%= link_to "Playstation 2", playstation_2_platforms_path %></div>
      <div><%= link_to "Playstation 3", playstation_3_platforms_path %></div>
      <div><%= link_to "Playstation 4", playstation_4_platforms_path %></div>
      <div><%= link_to "Wii", wii_platforms_path %></div>
      <div><%= link_to "Wii U", wii_u_platforms_path %></div>
      <div><%= link_to "Xbox", xbox_platforms_path %></div>
      <div><%= link_to "Xbox 360", xbox_360_platforms_path %></div>
      <div><%= link_to "Xbox One", xbox_one_platforms_path %></div>

    </section>

  <!-- About -->
  <section id="about" class="col-md-3">
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
