<% provide(:title, @title) %>

<div class="row">

  <div class="col-md-1">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </div>

  <div class="col-md-8">
    <h1><%= @title %></h1>
    <% if @games.any? %>
      <%= render 'shared/games_table' %>
    <% else %>
      <p>There's nothing here! Try <%= link_to "browsing some games", root_url %> and see if you find anything you like.</p>
    <% end %>
  </div>

  <div class="col-md-3">

  </div>
</div>