<% provide(:title, 'Profile') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="pull-left">
      <%= gravatar_for @user, size: 80 %> <%= @user.email %>'s profile
    </h2>
    <h2 class="pull-right">
      <% if user_signed_in? && current_user?(@user) %>
        <%= link_to "<i class='fa fa-cog'></i> Settings".html_safe, edit_user_registration_path, class: "btn btn-default" %>
      <% end %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section>
      <%= render 'users/wished' %>
    </section>
  </div>

  <div class="col-md-6">
    <section>
      <%= render 'users/owned' %>
    </section>
  </div>
</div>  