<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "platform" %></th>
      <th><%= sortable "genre" %></th>
      <th><%= sortable "year" %></th>
      <th><%= sortable game_table_column(params[:action]) %></th>
    </tr>
  </thead>
  <tbody>
     <%= render @games %>
  </tbody>
</table>