<h1 class="game-name"><%= @game.name %></h1>
<%= image_tag(@game.cover.url(:medium), class: "pull-left game-thumbnail") %>
<div>Release Date: <%= @rlsdate %></div>
<div>Platform: <%= @platform %></div>
<div>Metacritic Score: <%= @score %></div>
<div>Publisher: <%= @publisher %></div>

<div class="clearfix"></div>

<div>
  <%= render 'users/wishlist_ownership_admin_buttons' %>
</div>

<div class="clearfix"></div>

<section>
  <h3>Description</h3>
  <p><%= @game.description %></p>
</section>
