<% provide(:title, 'All Games') %>

<div class="row">

  <% if user_signed_in? %>
    <div class="col-md-1">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </div>

    <div class="col-md-9">
  <% else %>
    <div class="col-md-10">
  <% end %>
    <h1>All Games</h1>
    
    <div class="text-center">
      <%= will_paginate @games %>
    </div>

    <%= render 'shared/games_table' %>

    <div class="text-center">
      <%= will_paginate @games %>
    </div>
  </div>

  <div class="col-md-2">
    <%= render 'shared/vertical_ad' %>
  </div>
</div>