<% provide(:title, @game.name) %>
<% metacritic_info(@game.name, @game.platform) %>

<% amazon_info(@game.name, @game.platform, "Accessories, EditorialReview, Images, ItemAttributes, OfferSummary, Reviews, SalesRank, Similarities, VariationImages") %>

<%= @item_attributes %>

<div class="row">
  <div class="col-md-12">
    <h1 class="pull-left"><%= @game.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="pull-left"><%= image_tag(@thumbnail) %></div>
    <div class="game-info">Release Date: <%= @rlsdate %></div>
    <div class="game-info">Platform: <%= @platform %></div>
    <div class="game-info">Metacritic Score: <%= @score %></div>

    <div class="clearfix"></div>

    <section>
      <%= @review.html_safe %>
    </section>
  </div>

  <div class="col-md-4">
    Amazon
  </div>
</div>

<pre>
<%= raw JSON.pretty_generate(@res).gsub(" ","&nbsp;") %>
</pre>