<% provide(:title, @game.name) %>
<% metacritic_info(@game.name, @game.platform) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="pull-left"><%= @game.name %></h1>
  </div>
</div>

<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="pull-left"><%= image_tag(@thumbnail) %></div>
      <div class="game-info">Name: <%= @name %></div>
      <div class="game-info">Release Date: <%= @rlsdate %></div>
      <div class="game-info">Platform: <%= @platform %></div>
      <div class="game-info">Score: <%= @score %></div>
      <div class="game-info">Description: <%= @game.description %></div>
    </section>
  </aside>
</div>