<% provide(:title, 'Sign in') %>

<div class="row">
  <div class="col-sm-6">
    <h2>Sign in</h2>

    <p>
      You can sign in using a variety of methods. If you have a Great Games Club account, use the sign in form below. If you've signed up with an external account (or have yet to sign up), you can use one of the providers listed to the right.
    </p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, autofocus: true %>

      <%= f.input :password, autocomplete: "off" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.input_field :remember_me, as: :boolean, inline_label: 'Remember me' %>
      <% end -%>

      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>
  </div>

    <div class="col-sm-6 gray-vertical-border">
      <%= render "devise/shared/links" %>
    </div>
</div>