<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Great Games Club', root_url, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-header">
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav">
        <li><%= link_to "All", games_path %></li>
        <li><%= link_to "PC", pc_platforms_path, class: "pc" %></li>
        <li><%= link_to "Playstation 4", playstation_4_platforms_path, class: "playstation-4" %></li>
        <li><%= link_to "Wii U", wii_u_platforms_path, class: "wii-u" %></li>
        <li><%= link_to "Xbox One", xbox_one_platforms_path, class: "xbox-one" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "3DS", threeds_platforms_path %></li>
            <li><%= link_to "Gamecube", gamecube_platforms_path %></li>
            <li><%= link_to "Playstation 2", playstation_2_platforms_path %></li>
            <li><%= link_to "Playstation 3", playstation_3_platforms_path %></li>
            <li><%= link_to "Wii", wii_platforms_path %></li>
            <li><%= link_to "Xbox", xbox_platforms_path %></li>
            <li><%= link_to "Xbox 360", xbox_360_platforms_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Admin".html_safe, admin_path %> </li>
          <% end %>
          <li><%= render 'shared/user_section' %></li>
          <li><%= link_to "Sign Out".html_safe, destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up".html_safe, new_user_registration_path %> </li>
          <li><%= link_to "Sign In".html_safe, new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
