<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Roboto:400,700' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Lato:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="Cataloging great games that deserve to be remembered, played and enjoyed.">

  <!-- Facebook Open Graph Info -->
  <meta property="og:title" content="Great Games Club" />
  <meta property="og:url" content="http://greatgames.club/" />
  <meta property="og:description" content="Cataloging great games that deserve to be remembered, played and enjoyed." />
  <meta property="og:image" content="" />
  <!-- End Facebook Open Graph Info -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9342343-3', 'greatgames.club');
  ga('send', 'pageview');

</script>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>
  <%= render 'layouts/header_ad' %>
  
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
